{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <section style="margin: 20px">
            <form method="post">
                <button class="btn btn-success btn-lg" name="start" value="1">{% if beehive %}Reset{% else %}Start{% endif %}</button>
                {% if beehive is not empty %}
                    <button class="btn btn-warning btn-lg" name="hit" value="1">Hit</button>
                {% endif %}
            </form>
        </section>

        {% if beehive %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">lifespan</th>
                </tr>
                </thead>

                <tbody>
                {% for bee in beehive %}
                    <tr>
                        <th scope="row">{{ bee.id }}</th>
                        <td>{{ bee.type.name }}</td>
                        <td>{{ bee.leftLifepoints }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}

